@model Banner
@{
    Layout = null;
   
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center" style="background: rgba(0, 0, 0, 0)  no-repeat scroll center center / cover ;position: relative;width: 100%;z-index: 1;background-image:url(@Url.Content($"../../img/{@Model.BannerImageName}"))">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>@Model.Title</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
