@model List<Teacher>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Recent Purchases</p>
                <div class="table-responsive">
                    <a class="btn btn-primary" asp-action="Create" >Create</a>
                    <table id="recent-purchases-listing" class="table">
                        <thead>
                            <tr>
                                <th>TeacherName</th>
                                <th>TeacherImage</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Name</td>
                                    <td>
                                        <img src="~/img/@item.TeacherImageName" style="width:150px;height:150px">   
                                    </td>
                                    <td>
                                        <a class="btn btn-success" asp-action="Update" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        <a class="btn btn-info"  asp-action="Detail" asp-route-id="@item.Id">Details</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
