@model Blog
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create a Teacher</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="BlogTitle"> BlogTitle</label>
                        <input class="form-control" asp-for="BlogTitle">
                        <span class="text-danger" asp-validation-for="BlogTitle"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo">Blog Photo</label>
                        <input class="form-control" asp-for="Photo">
                        <span class="text-danger" asp-validation-for="Photo"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Author"> Author</label>
                        <input class="form-control" asp-for="Author">
                        <span class="text-danger" asp-validation-for="Author"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreateTime">Create Time </label>
                        <input class="form-control" asp-for="CreateTime">
                        <span class="text-danger" asp-validation-for="CreateTime"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BlogDetail.Description"> Description</label>
                        <input class="form-control" asp-for="BlogDetail.Description">
                        <span class="text-danger" asp-validation-for="BlogDetail.Description"> </span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BlogDetail.LeaveAReply"> Leave a reply</label>
                        <input class="form-control" asp-for="BlogDetail.LeaveAReply">
                        <span class="text-danger" asp-validation-for="BlogDetail.LeaveAReply"> </span>
                    </div>

                    <div class="form-group" id="categoryInput">
                        <label>Categories</label>
                        <select class="form-control" name="CategoryId" id="category" multiple>
                            @foreach (var item in ViewBag.categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#BlogDetail_Description'))
            .catch(error => {
                console.error(error);
            });
    </script>

}

